*{
    margin:0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    position: absolute;
    top:45%;
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
}
a{
    text-decoration: none;
    color: blue
}